body {
  background: #25262a;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #ccc13a;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #dedede;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #3bc400;
}

#mainNavbar .navbar-brand {
  color: #ccc13a;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #784d2d;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: #1c1d20;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}
